<footer class="footer">
    <div class="image">
        <img src="../../../../assets/images/mountains-6874589_1920.jpg" alt="">
        <div class="img-decoration"></div>
    </div>
   
    <div class="nav">
        <div class="user">
            <h2>User panel</h2>
                <a>Register</a>
                <a>Login</a>
        </div>
        <div class="discover">
            <h2>Discover</h2>
                <a>Series</a>
                <a>Movies</a>
        </div>
        <div class="comnunity">
            <h2>Community</h2>
            <div class="facebook">
                <i class="fa-brands fa-facebook"></i>
                <a>Facebook</a>
            </div>
            <div class="instagram">
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <a>Instagram</a>
            </div>
                
        </div>
       </div>
       <div class="decoration"></div>
       <div class="copyright">
           <span>Copyright © SerialViewer - Powerd by Ippolav</span>
       </div>
   
</footer>
