<div class="content">
  <!-- <app-img-principal
        title="Game Of Thrones"
        description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem aut vel necessitatibus, mollitia
        praesentium voluptate culpa nobis labore possimus incidunt. Modi officiis amet laborum dolore nostrum ab et,
        quod suscipit?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem asperiores iste eos nostrum
        obcaecati. "
        puntuacion="9.6"
        [cantidadEstrellas]=3
        fehca="October 29, 2017"
        categoria="Aventuras"
        img="../../../../assets/images/dargon.jpg"
        linkButton="/series"
    ></app-img-principal> -->
  <app-carrousel
    [countList]="20"
    title="Agregados recientemente"
    linkVerMas="/recientes"
  ></app-carrousel>
  <app-media-viewer
    title="Trending Now"
    linkVerMas="/series"
    [trending] = "true"
    [showCategories]="false"
  ></app-media-viewer>
  <app-media-viewer
    title="Lastest Shows"
    linkVerMas="/series"
  ></app-media-viewer>
  <!-- <app-carrousel
        [countList]=10
        title="Series Nuevas"
        linkVerMas="/series"
    ></app-carrousel>
    <app-carrousel
        [countList]=10
        title="Peliculas Nuevas"
        linkVerMas="/peliculas"
    ></app-carrousel> -->
</div>
