.register__header {
  width: 100%;
  position: relative;
  .register__back {
    background-color: transparent;
    border: none;
    position: absolute;
    margin: 10px;
  }
  .register__figure {
    width: 100%;
    height: 300px;

    .register__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }
  .register__figure::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    z-index: 1;
    background: linear-gradient(
      to top,
      var(--primary-black) 10%,
      rgba(0, 0, 0, 0.233) 100%
    );
  }

  .register__title {
    position: absolute;
    width: 80%;
    text-align: center;
    z-index: 10;
    bottom: 20px;
    right: 50%;
    transform: translateX(50%);
  }
}

.create-account {
  width: 100%;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  .create-account__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
      
    .input__checkbox{
      font-size: 12px;
      margin-top: 8px;
      display: flex;
      align-items: center;
      width: 100%;
      gap: 10px;
      .checkbox{
        background-color: transparent;
        width: 15px;
        height: 15px;
        border-radius: 3px;
        border: 2px solid var(--primary-white);
        input{
          opacity: 0;
        }
      }

      .checkbox:has(input:checked) {
        background-image: url('../../../../assets/images/icon-check.svg');
        background-position: center;
        background-size: 200% 200%;
        background-repeat: no-repeat;
        background-color: var(--secondary-accent);
        border: 2px solid var(--secondary-accent);
      }
      
    }
    .button{
      width: 100%;
    }
  }

  .normal__divisor {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 10px;
  }
  .normal__divisor::before {
    content: "";
    width: 30%;
    height: 1px;
    background-color: var(--primary-accent);
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 1;
  }
  .normal__divisor::after {
    content: "";
    width: 30%;
    height: 1px;
    background-color: var(--primary-accent);
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 1;
  }

  .create__social-boxs{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    .social__box{
      width: 40px;
      height: 28px;
      border-radius: 5px;
      border: 1px solid var(--primary-accent);
      
      display: flex;
      align-items: center;
      justify-content: center;
      .social__img{
        width: 15px;
        height: 15px;
      }
    }
  }

  .register__signup {
    width: 100%;
    text-align: center;
    font-size: 12px;

    .bold {
      color: var(--secondary-accent);
      font-weight: 600;
    }
  }
}

.input{
  width: 100%;
 }

@media (min-width:768px){
  .register__title {
    font-size: 35px;
  }

  .create-account{
    .create-account__form{
      width: 75%;

      .button{
        width: 50%;
      }
    }

    
  }

 
}