
.content-register{
    width: 500px;   
    padding: 30px;
    overflow: hidden;
    position: relative;
    background-color: var(--backroundColor);
}

.close-window{
    color: var(--fontColorPrimary);
    position: absolute;
    right: 20px;
    top: 0;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 600;
    transition: all 0.3s ease;
}

.close-window:hover{

    cursor: pointer;
    transform: scale(1.1);
}

.title{
    font-size: 1.5rem !important;
    margin: 0 0 15px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title::before{
    content: "";
    height: 2px;
    width: 30%;
    background: #d4d4d4;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
}

.title::after{
    content: "";
    height: 2px;
    width: 30%;
    background: #d4d4d4;
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 2;
}


.user_pass, .nombres{
 display:  flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
 gap: 10px;
}

.username, .password, .lastname, .firstname{
    display: flex;
    flex-direction: column;
}
.check-policy{
    color: var(--fontColorPrimary);

    width: 100%;
    display: flex;
    gap: 10px;
}


