.container {
    width: 50%;
    display: flex;
    flex-direction: column;
    .header{
        position: relative;
    }
    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 25px;
        position: relative;
    }

    .password,
    .newPassword {
        width: 100%;
        position: relative;
    }
}