<div class="container">
    <div class="header">
        <h1 class="title">Cambiar Password</h1>
       <span *ngIf="errorChangePassword" class="error-message">Ha ocurrido un error, intenta nuevamente.</span>
       <span *ngIf="succesChangePassword" class="succes-message">La contraseña se cambio con exito!.</span>
    </div>
    <form (submit)="onChangePassword()" [formGroup]="formPassword">
        <div class="password">
            <input
                [ngClass]="{'input':!formPassword.controls['password'].errors?.['required'],'input-error':formPassword.controls['password'].errors?.['required']}"
                type="password" placeholder="Password" formControlName="password">
            <span *ngIf="formPassword.controls['password'].errors?.['required']" class="error-message">El campo es
                requerido.</span>
        </div>
        <div class="newPassword">
            <input
                [ngClass]="{'input':!formPassword.controls['newPassword'].errors?.['required'],'input-error':formPassword.controls['newPassword'].errors?.['required']}"
                type="password" placeholder="New Password" formControlName="newPassword">
            <span *ngIf="formPassword.controls['newPassword'].errors?.['required']" class="error-message">El campo es
                requerido.</span>
        </div>
        <div class="buttons">
            <button [disabled]="formPassword.invalid"
                [ngClass]="{'button-yellow': !formPassword.invalid, 'button-disabled': formPassword.invalid}"
                type="submit">Aceptar</button>
            <button type="submit">Reset</button>
        </div>

    </form>
</div>