input[type="file"]{
    display: none;
  }
p{
    color: white;
}

.mat-mdc-fab.mat-accent, .mat-mdc-mini-fab.mat-accent {
    --mdc-fab-container-color: #ffffff00 !important;
}
.container-profile{
    width: 100%;
    display: flex;

    .sidenav{
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1%;

        .imagen{
            width: 150px;
            height: 150px;
            position: relative;
            margin-bottom: 10px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }
            .editImg{
                width: 30px;
                height: 30px;
                position: absolute;
                bottom: 0px;
                right: -10px;
                border: 1px solid #c6bfbf61;  
                display: flex;  
                align-items: center;
                 justify-content: center;    
                 transition: background 0.2s ease;
            }
            .editImg:hover{
                background-color: #74a8cf;
            }
        }
        .links{
            width: 100%;
            border-top: 1px solid #c6bfbf61;
            border-left: 1px solid #c6bfbf61;
            border-right: 1px solid #c6bfbf61;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        
            a{
                display: flex;
                justify-content: start;
                align-items: center;
                gap: 10px;
                padding: 7px;
                width: 100%;
                border-bottom: 1px solid #c6bfbf61;
                transition: background 0.2s ease;
            }
            a:hover, .active{
                overflow: hidden;
                background-color: #74a8cf;
            }
        }

    }
}

.content{
    width: 80%;
    padding: 20px;
}
