<header class="account__header" *ngIf="isProfile">
  <div class="account__button">
    <button class="account__back" routerLink="{{$backRoute | async}}">
      <img src="../../../assets/images/icon-arrow.svg" alt="" class="back__img" />
    </button>
    <span>{{$titleRoute | async}}</span>
  </div>
  <div class="account__info">
    <figure class="account__figure">
      <img src="{{userImgPerfil$ | async}}" alt="" class="account__img" />
    </figure>
    <button class="account__edit" (click)="file.click()">
      <label for="inputTag">
          <input #file id="inputTag" accept="image/png,image/jpeg" type="file" (change)="uploadFile(file.files)" />
        </label>
      <img src="../../../assets/images/icon-edit.svg" alt="" class="edit__img" />
    </button>
  </div>
  <h1 class="account__name">{{userLogued?.user}}</h1>
  <span class="account__email">{{userLogued?.email}}</span>
</header>

<router-outlet></router-outlet>



  