/* .serie-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: var(--fontColorPrimary);

    .nuevo-comentario{
        width: 70%;
        display: flex;
        flex-direction: column;
        padding: 15px;

        .content{
            width: 100%;
            height:100px;
            background: transparent;
            resize: none;
            color: white;
            font-size: 1.1rem;
        }
        .content::placeholder{
            font-size: 1.2rem;
            color: white;
        }
        .button{
            width: 25%;
            display: flex;
        }
    }
}

.header{
    display: flex;
    margin: 10px;
    .image{
        width: 200px;
        height: 299px ;
        margin-right: 10px;
        border: 3px solid; 
        border-radius: 15px;
        border-color: #3794ff;
        overflow: hidden;
        img{
            width: 100%;
            height: 100%;
            object-fit:contain;
        }
    }

    .info-header{
        display: flex;
        flex-direction: column;
        position: relative;
        .title-serie{
            display: flex;
            justify-content:  center;   
            align-items: center;
            gap:10px;
            h2{
                font-size: 3.5em;
            }
            .favorito{
                border: 0px;
                font-size: 1.5rem;
                transition: transform 0.2s,color 0.2s ease;
            }
            .favorito-active{
                color: rgb(230, 77, 77);
            }
            .favoritos:hover{
                cursor: pointer;
                transform: scale(1.2);
                color: rgb(230, 77, 77);
            }
        }
        .puntucacion{
            display: flex;
            justify-content: flex-start;
            p{
                font-size: 1.8em;
                font-weight: 600;
            }
            ul{
                display: flex;

                li{
                    list-style: none;

                    .icon{
                        color: #3794ff;
                    }
                    .icon:hover{
                        cursor: pointer;
                        color: #99c6f8;
                        transform: scale(1.2);
                    }
                }
            }
        }
        .categories{
            p{
                padding-left: 15px;
                font-size: 1.1em;
            }
        }
       
    }
    .back{
        position: absolute;
        right: 3%;
        height: 55px;
        padding: 5px;
        display: flex;
        align-items: center;
        flex-direction: column;
        color:var(--fontColorPrimary);
        transition: background 0.2s ease;
    }
    .back:hover{
        cursor: pointer;
        background-color: #103a54;;
    }
}

.divisor{
    display: block;
    height: 2px;
    background: linear-gradient(45deg, #3794ff6b, rgba(245, 245, 245, 0.007));
}
.content-info{
    margin: 10px;
    
    .info{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 5px;
        font-weight: 500;
        font-size: 1.1;
    }

    .info-serie{
        margin-top: 10px;
        margin-left: 5px;
    }

    
}
 */

.header__page {
  width: 112%;
  margin: -20px 0px 10px -20px;
  position: relative;
  .header__figure {
    width: 100%;
    height: 300px;
    position: relative;
    .header__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: bottom center;
    }
  }
  .header__figure::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .header__buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    position: absolute;
    top: 0;

    .header__button {
      border: none;
      background: transparent;
    }
    .header__button:hover {
      cursor: pointer;
    }
  }
}

.info__page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: var(--margin-bottom-sections);
  .info__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .info__title {
      width: 100%;
      font-size: 18px;
      margin: 0;
    }

    .info__button-actions {
      width: 70px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .info__button {
        border: none;
        background-color: transparent;
        .info__buttom-img {
          width: 20px;
          height: 20px;
        }
      }

      .info__button:hover{
        cursor: pointer;
      }
    }
  }
  .info__middle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .info__year {
      color: var(--secondary-accent);
      font-weight: 500;
      .info__score {
        display: flex;
        align-items: center;
        gap: 2px;
        font-size: 12px;
        .info__star {
          height: 20px;
        }

        .info__score-year {
          color: var(--primary-white);
        }
      }
    }

    .info__country {
      .info__list {
        display: flex;
        list-style: none;
        gap: 5px;
        padding: 0;
        font-size: 10px;

        .info__item {
          padding: 4px;
          border-radius: 5px;
          border: 1px solid var(--secondary-accent);
        }
      }
    }
  }

  .info__play {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    .button__play {
      width: 100%;
      height: 45px;
      background-color: var(--secondary-accent);
      border: none;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;
      font-weight: 600;
      color: var(--primary-white);
      font-family: inherit;
      border: 1px solid var(--secondary-accent);
    }

    .button__play:hover{
      cursor: pointer;
    }

    .button-empty-bg {
      background-color: transparent;
    }
  }
}

.page--subtitle {
  font-weight: 600;
  font-size: 16px;
}
.description__page {
  width: 100%;
  margin-bottom: var(--margin-bottom-sections);
  .description__genre {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
    .genre__list {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
  .description__paragraph {
    font-size: 14px;
  }
}

.cast__page {
  width: 100%;
  margin-bottom: var(--margin-bottom-sections);
  .cast__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    .cast__see-more {
      text-decoration: none;
      color: var(--primary-white);
      font-size: 12px;
      font-weight: 300;
    }
  }

  .cast__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    gap: 10px;
    .cast__item {
      display: flex;
      flex-direction: column;
      align-items: center;

      .cast__item-img {
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 50%;
        margin-bottom: 5px;
      }
      .cast__item-name {
        text-align: center;
        color: var(--secondary-accent);
      }
      .cast__item-character {
        margin-top: 5px;
        font-size: 8px;
      }
    }
  }
}

.more__page {
  width: 100%;
  .more__tab {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .tab__link {
      color: var(--primary-white);
      text-align: center;
      width: 100%;
      padding-bottom: 2px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
    .tab__link:hover{
      cursor: pointer;
    }


    .link--active {
      border-color: var(--secondary-accent);
      color: var(--secondary-accent);
    }
  }
}

@media (min-width: 768px) {
  .header__page {
    .header__figure {
      height: 400px;
    }
    .header__buttons {
      width: 93%;
    }
  }

  .info__page {
    .info__play {
      width: 50%;
    }
  }

  .cast__page {
    .cast__list {
      justify-content: flex-start;
      gap: 50px;
    }
  }
}
