<div class="content">
    <div class="image">
        <img src="{{img}}" alt="">
        <span class="img-decoration"></span>
    </div> 
    <div class="info">
        <div class="puntuacion">
            <span>{{puntuacion}}</span>
        </div>
        <div class="title">
            <h1>{{title}}</h1>
        </div>
        <div class="sub">
            <div class="stars">
                <mat-icon *ngFor="let e of listEstrellas" fontIcon="star"></mat-icon>
                
            </div>
            <div class="category">
                <mat-icon fontIcon="sell"></mat-icon>
                <a href="">{{categoria}}</a>
            </div>
            <div class="date">
                <mat-icon fontIcon="schedule"></mat-icon>
                <span>{{fehca}}</span>
            </div>
        </div>
        <div class="description">
            <p>{{description}}</p>
        </div>
        <div class="button">
            <button routerLink="{{linkButton}}" > READ MORE</button>
        </div>
    </div>
</div>