<!-- <div class="container">
    <div class="header">
        <div class="title">
            <span>{{title}}</span>
        </div>
        <div class="ver-mas">
            <button routerLink="{{linkVerMas}}" class="button-ver-mas">Ver Mas</button>
        </div>
    </div>
    <div class="content">
        <div class="carrousel">
            <div class="arrow-left">
                <mat-icon (click)="previous()" class="icon" fontIcon="arrow_back_ios"></mat-icon>
            </div>
            <app-card *ngFor="let card of listView" routerLink="/series/{{card.id}}" [title]="card.titulo"
                [img]="card.imgPortada" [puntuacion]="card.puntuacion">
            </app-card>
            <div class="arrow-right">
                <mat-icon (click)="next()" class="icon" fontIcon="arrow_forward_ios"></mat-icon>
            </div>
        </div>
    </div>
</div> -->

<section class="carrousell">
    <article class="carrousell__item">
      <figure class="item__figure">
        <img src="../../../../assets/images/top_gun_maverick.jpg" alt="" class="item__img" />
        <div class="item__info">
          <div class="item__left">
            <span class="item__title">Top Gun</span>
            <div class="item__decription">
              <img src="../../../../assets/images/icon-star.svg" alt="" class="item__star" />
              <span class="item__score">8.4 | </span>
              <span class="item__category">Thriller | </span>
              <span class="item__year">2022 </span>
            </div>
          </div>

          <button class="item__play">
            <img src="../../../../assets/images/icon-play.svg" alt="" class="item__play-img" />
          </button>
        </div>
      </figure>
    </article>
  </section>