.header {
  background-color: var(--primary-accent);
  width: 100%;
  padding: 25px;
  position: fixed;
  bottom: 0;
  z-index: 1000;
  .header__nav {
    .nav__list {
      display: flex;
      list-style: none;
      padding: 0;
      justify-content: space-between;
      align-items: center;

      .nav__item {
        display: flex;
        align-items: center;
        gap: 5px;
        .nav__item-name {
          display: none;
        }
      }
      .nav__item:hover {
        cursor: pointer;
      }

      nav-link--active {
        display: flex;
      }
      .nav-link--active {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        font-size: 14px;
        background-color: var(--secondary-accent);
        padding: 8px 15px;
        border-radius: 20px;

        .nav__item-name {
          display: block;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .header {
    position: relative;
    padding: 6px 60px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    .header__nav {
      width: 80%;
      .nav__list {
        .nav__item {
          .nav__item-name {
            display: block;
          }
        }

        nav-link--active {
          display: flex;
        }
      }
    }
  }
}
