  <ul class="details__list">
    <li class="details__item item--active" routerLink="/usuario/edit-profile">
      <div class="item__left ">
        <img src="../../../../assets/images/icon-user.svg" alt="" class="item__img" />
        <span class="item__text">Edit Profile</span>
      </div>
      <img src="../../../../assets/images/icon-chevron-right.svg" alt="" class="item__img-right">

    </li>
    <li class="details__item">
      <div class="item__left">
        <img src="../../../../assets/images/icon-notification.svg" alt="" class="item__img" />
        <span class="item__text">Notification</span>
      </div>
      <img src="../../../../assets/images/icon-chevron-right.svg" alt="" class="item__img-right">

    </li>
    <li class="details__item">
      <div class="item__left">
        <img src="../../../../assets/images/icon-download.svg" alt="" class="item__img" />
        <span class="item__text">Download</span>
      </div>
      <img src="../../../../assets/images/icon-chevron-right.svg" alt="" class="item__img-right">
    </li>
    <li class="details__item">
      <div class="item__left">
        <img src="../../../../assets/images/icon-security.svg" alt="" class="item__img" />
        <span class="item__text">Security</span>
      </div>
      <img src="../../../../assets/images/icon-chevron-right.svg" alt="" class="item__img-right">

    </li>
    <li class="details__item">
      <div class="item__left">
        <img src="../../../../assets/images/icon-language.svg" alt="" class="item__img" />
        <span class="item__text">Language</span>
      </div>
      <img src="../../../../assets/images/icon-chevron-right.svg" alt="" class="item__img-right">

    </li>
    <li class="details__item">
      <div class="item__left">
        <img src="../../../../assets/images/icon-help.svg" alt="" class="item__img" />
        <span class="item__text">Help Center</span>
      </div>
      <img src="../../../../assets/images/icon-chevron-right.svg" alt="" class="item__img-right">

    </li>
    <li class="details__item">
      <div class="item__left">
        <img src="../../../../assets/images/icon-info.svg" alt="" class="item__img" />
        <span class="item__text">Privacy Policy</span>
      </div>
      <img src="../../../../assets/images/icon-chevron-right.svg" alt="" class="item__img-right">

    </li>
    <li class="details__item" (click)="onLogout()">
      <div class="item__left">
        <img src="../../../../assets/images/icon-logout.svg" alt="" class="item__img" />
        <span class="item__text">Logout</span>
      </div>
      <img src="../../../../assets/images/icon-chevron-right.svg" alt="" class="item__img-right">

    </li>
  </ul>